.SearchResults {
    width: 100%;
  /*  overflow-y: scroll;*/
    padding: .68rem;
    background-color: rgba(255, 0, 91, 0.37);
    box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 100%;
        margin-bottom: 2rem;
    }
}